[submodule "deps/lua-openssl"]
	path = deps/lua-openssl
	url = https://github.com/zhaozg/lua-openssl.git
[submodule "deps/openssl"]
	path = deps/openssl
	url = https://github.com/luvit/openssl.git
[submodule "deps/luv"]
	path = deps/luv
	url = https://github.com/luvit/luv.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/luvit/zlib.git
[submodule "deps/lua-zlib"]
	path = deps/lua-zlib
	url = https://github.com/brimworks/lua-zlib.git
